robotframework==3.0.4
robotframework-selenium2library==3.0.0
robotframework-debuglibrary==1.1.4
Selenium==3.14.0
factory_boy==2.8.1
pytest==2.9.1
pytest-django==2.9.1
psycopg2==2.7.4
mock==2.0.0
zest.releaser==6.12.4
twine==1.9.1
requests==2.18.4

