robotframework==3.0.4
robotframework-selenium2library==3.0.0
robotframework-debuglibrary==1.1.4
Selenium==3.14.1
factory_boy==2.11.1
pytest==3.8.0
pytest-django==3.4.3
psycopg2==2.7.5
mock==2.0.0
zest.releaser==6.15.2
twine==1.11.0
requests==2.20.1

