robotframework==3.1.1
robotframework-seleniumlibrary==3.3.1
robotframework-debuglibrary==1.1.4
Selenium==3.141.0
factory_boy==2.11.1
pytest==4.3.0
pytest-django==3.4.8
psycopg2==2.8
mock==2.0.0
zest.releaser==6.17.0
twine==1.12.1
requests==2.21.0
urllib3==1.24.1
